<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info" >
	<!-- the targets to write to -->
	<targets>
		<target
			name="Error"
			xsi:type="File"
			concurrentWrites ="true"
			archiveNumbering="Rolling"
			archiveAboveSize="1000000"
			layout="${longdate} ${logger} ${message} ${exception:format=toString,Data*}"
			fileName="${basedir}/logs/Error-${cached:cached=true:inner=${date:format=yyyy-MM-dd}}.txt"
      />
		<target
			name="Debug"
			xsi:type="File"
			concurrentWrites ="true"
			archiveNumbering="Rolling"
			archiveAboveSize="1000000"
			layout="${longdate} ${logger} ${message} ${exception:format=toString,Data*}"
			fileName="${basedir}/logs/Debug-${shortdate}.txt"
      />
		<target
			name="Trace"
			xsi:type="File"
			concurrentWrites ="true"
			archiveNumbering="Rolling"
			archiveAboveSize="1000000"
			layout="${longdate} ${logger} ${message} ${exception:format=toString,Data*}"
			fileName="${basedir}/logs/Trace-${shortdate}.txt"
      />
		<target name="console"  xsi:type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message} ${exception:format=toString,Data}" />
		<!--<target name="FormPost" type="WebFormTarget" url="https://exceptionbrowser2.durlabhcomputers.com/ExceptionHandler.ashx" layout="${longdate} ${logger} ${mdc:item=ControllerInfo} ${message} ${exception:format=toString,Data}" />-->
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minLevel="Error" maxLevel="Error" writeTo="Error" />
		<logger name="*" minLevel="Debug" maxLevel="Debug"  writeTo="Debug" />
		<logger name="*" minLevel="Trace" maxLevel="Trace" writeTo="Trace" />
		<logger name="*" minLevel="Trace"  writeTo="console" />
	</rules>
</nlog>